h1 {
    position: relative;
    left: 200px;
    font-size: 70px;
    padding: 15px;
    font-weight: bold;
}

#card { 
    padding: 25px;
    margin: 25px;
}

#board {
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
}  


body {
    background: black;
    /* #0e8b44 url('https://bfa.github.io/solitaire-js/img/green_felt.jpg')  */
}
h1 {
    text-align: center;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    max-width: 900px;
}
span {
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

label {
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

button {
    background: rgba(0, 0, 0, 0.645);
    border-radius: 5px;
    font-family: 'Fira Sans', sans-serif;
    color: #ffffff;
    font-size: 15px;
}

#buttons {
    text-align: center;
    padding: 25px;
}

#scoreboard {
    position: absolute;
    left: 243px;
}