#card { 
    padding: 25px;
    margin: 25px;
}

#board {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

body {
    background-color: black;
}

span {
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

label {
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

