#card { 
    padding: 25px;
    margin: 25px;
}

#board {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

body {
    background: #0e8b44 url('https://bfa.github.io/solitaire-js/img/green_felt.jpg')
}
h1 {
    text-align: center;
    color: white;
    font-family: 'Fira Sans', sans-serif;
}
span {
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

label {
    color: white;
    font-family: 'Fira Sans', sans-serif;
}

nav {
    padding: 4px;
}

button {
    background: rgba(0, 0, 0, 0.645);
    border-radius: 5px;
    font-family: 'Fira Sans', sans-serif;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
}

